<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title><!DOCTYPE html>
    
</head>
<body>
    <div id="cover">
        redirect();
    </div> 
</form>
</body>
<script>
    function redirect(){
        fetch("http://59.26.59.60:8080/api/redirect").then(
            (response)=>{
                if(response.status==200){
                    window.location.href ="http://127.0.0.1:5000/"
                }
            }
        )

    }
</script>

</html>
